.appmagic-code128-container {
    width: 100%;
    height: 100%
}

.appmagic-code128-container .appmagic-code128 {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    line-height: normal
}

.appmagic-code128-container .appmagic-code128 {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    white-space: normal;
    word-wrap: break-word
}

.appmagic-code128-container .appmagic-code128 .appmagic-code128-content {
    height: 100%;
    width: 100%;
    padding: 1px;
    margin: -1px
}

.appmagic-code128-container .appmagic-code128-disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

/* https://observablehq.com/@jobleonard/gotta-keep-em-pixelated */
.pixelated {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
